*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background-color: transparent;}
button::-moz-focus-inner {padding: 0;border: 0;}
a{color: black;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*!*-----------------------------------------------------*!*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.root{
    background-color: #140101;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-size: 66px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 40px 0;
}

/*HEADER*/
.header{
    background-color: #FFFFFF;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    min-height: 80px;
}

.logo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menu__link{
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.menu__link:hover{
    color: #188CE8;
}


.user-actions__item{
    text-transform: none;
}


.menu__btn{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;

}

.menu__btn span{
    width: 100%;
    height: 2px;
    background-color: #000000;
}

/*MAIN*/

.top{
    background: url(../img/topB.jpg) no-repeat bottom center / cover;
}

.top__inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__content{
    text-align: center;
}

.top__title{
    max-width: 700px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.top__btn{
    padding: 12px 32px;
    background-color: #188CE8;
    border: 3px solid #188CE8;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s ease;
    letter-spacing: 1px;
}

.top__btn:hover{
    background-color: #FFFFFF;
    color: #188CE8;
}

.exercises__inner{
    padding-bottom: 100px;
}

.exercises__list{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
    gap: 80px;
}

.exercises__title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    padding-left: 20px;
    transition: color 0.3s ease;
}

.exercises__title:hover{
    color: #188CE8;
}

.trainers{
    height: 1200px;
}

.trainers__content{
    position: relative;
}

.trainers-box{
    position: absolute;
    z-index: 1;
    right: 80px;
    width: 1000px;
    height: 640px;
    background-color: #330000;

}

.trainers-inner{
    position: absolute;
    z-index: 2;
}

.trainers__list{
    display: flex;
    justify-content: center;
    align-items: end;
}

.trainers__item-custom{
    position: relative;
    top: 321px;
}

.trainers__title{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0 0 10px ;
}

.trainers__link{
    color: rgba(128, 128, 128, 0.9);
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 0 10px ;
}

.trainers__link:hover{
    color: #2196F3;
}

/*FOOTER*/
.footer{
    padding: 70px 0;
    background-color: white;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 100px;
    padding: 20px 20px 80px 20px;
}

.list-title{
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: bold;
}

.list-item{
    padding-bottom: 14px;
}

.year{
    text-align: center;
}

.year__btn{
    font-size: 18px;
}

.additional-info {
    display: none;
}
.additional-info.active {
    display: block;
}

.trainers__swiper{
    display: none;
}

/*MEDIA*/

@media (max-width: 1230px) {

    .swiper {
        width: 100%;
        height: 600px;
    }

    .swiper-slide {
        gap: 20px;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #140101;
    }

    .swiper-slide img {
        display: block;
        object-fit: cover;
    }

    .swiper__img{
        padding-bottom: 5px;
    }

    .swiper__title{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 5px;
    }

    .swiper__link{
        color: rgba(128, 128, 128, 0.9);
        font-size: 14px;
        font-weight: 400;
    }

    .swiper-wrapper{
        padding-bottom: 40px;
        text-align: center;
    }

   .trainers__content{
       display: none;
   }

   .trainers{
       height: 100%;
   }

   .trainers__swiper{
       display: block;
       padding-bottom: 50px;
   }

   .swiper__img{
       max-height: 321px;
   }

}

@media (max-width: 900px) {

    .menu__btn{
        display: flex;
        position: relative;
        z-index: 10;
    }

    .menu__list{
        position: absolute;
        z-index: 5;
        background-color: #000000;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        transform: translateY(-100%);
        transition: 0.3s ease;
    }

    .menu__list.menu__list--active{
        transform: translateY(0%);
    }

    .menu__link{
        color: #FFFFFF;
    }

}

@media (max-width: 768px){

    .logo{
        font-size: 20px;
    }

    .swiper-slide{
        max-width: 321px;
        background-color: #140101;
    }

    .exercises__list{
        grid-template-columns: repeat(1, 1fr);
    }

    .title{
        font-size: 46px;
    }

    .exercises__title{
        font-size: 36px;
    }

    .top__title{
        font-size: 34px;
    }

    .title{
        font-size: 38px;
        line-height: 45px;
    }

    .exercises__title {
        font-size: 28px;
    }
}

@media (max-width: 450px){
    .exercises__img{
        max-width:  280px;
        width: 100%;
    }

    .top__title{
        font-size: 28px;
    }

}

/*MODAL*/

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10px;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form__title{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.form__input{
    margin-bottom: 20px;
    border: 1px #21212133 solid;
    width: 100%;
    height: 40px;
}

.form__textarea{
    resize: none;
    height: 120px;
}

.form__btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #2196F3;
    padding: 10px 52px;
    border: 2px #2196F3 solid;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 20px auto;
    display: block;
}

.form__btn:hover{
    background-color: #FFFFFF;
    color: #2196F3;
}
















